*.o
*.mod
*.exe
*.so
*.a
*.lib
*.dll
*.dylib
*.framework
*.log
log.lammps
Config_**.clssy
*.txt
*.dat
*.xyz
*.pyc
*.dump
objects/*.o
mods/*
profiling/*
**/Config_*.clssy
**/*.dat
**/*.dump
**/*.pyc
**/classyMC
**/classyMC_debug
