*.o
*.mod
*.exe
*.so
*.a
*.lib
*.dll
*.dylib
*.framework
*.log
log.lammps
Config_**.clssy
*.txt
*.dat
*.xyz
*.pyc
*.dump
objects/*.o
mods/*
profiling/*
**/Config_*.clssy
**/*.dat
**/*.dump
**/*.pyc
**/classyMC
**/classyMC_debug
Example/LJNucleation_MultipleTypes/fort.100
Example/LJNucleation/umbrella.dat
Example/LJNucleation_MultipleTypes/tmp_in.ljfcc
Example/LJNucleation_MultipleTypes/Dimer_backup.clssy
Example/LJNucleation/umbrella.dat
Example/LJNucleation/LJForcefield_backup.clFF
Example/LJNucleation/umbrella.dat
Example/LJNucleation/Dimer_backup.clssy
